.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 200px;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;

  .indicators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50px;

    .indicator {
      font-family: monospace;
      font-weight: bold;
      font-size: 35px;
      color: white;
      height: 75px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      background: black;
      border-radius: 15px 0 0 15px;
    }
  }

  .nameInputs {
    height: 100%;
    width: 200px;
    position: relative;

    .nameInput {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border: 2px black solid;
      border-radius: 0 15px 15px 0;
      height: 75px;
      width: 100%;
      position: absolute;
      left: 0;
      color: black;
      font-family: 'Helvetica', serif;
      font-size: 20px;
      padding: 10px;
      background: aliceblue;
    }
  }
}