.button{
  height: 50px;
  width: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica', serif;
  font-size: 20px;
  border-radius: 15px;
  background: rgba(0,0,0);
  color: white;
  cursor: pointer;
}