.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 350px;
  max-width: 100%;
  padding: 20px;
  gap: 20px;

  .nameInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    position: relative;

    input{
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border: 2px black solid;
      border-radius: 15px;
      height: 75px;
      width: 100%;
      left: 0;
      color: black;
      font-family: 'Helvetica', serif;
      font-size: 20px;
      padding: 10px;
      background: aliceblue;
    }
  }
}
