.wrapper {
  display: flex;
  height: calc(100vh - 150px);
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: relative;

  .container {
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: calc(100vh - 150px);
    min-width: fit-content;
    background: transparent;
    border-radius: 20px;
    padding: 10px;

    .game {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: fit-content;
      width: fit-content;
      gap: 25px;

      .heading {
        display: flex;
        height: fit-content;
        padding: 5px;
        width: fit-content;
        font-family: monospace;
        font-weight: bold;
        font-size: 35px;
        color: white;
      }

      .boardStats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        color: white;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
        height: 50px;
        width: 100%;
      }
    }

    .playerMissing {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      flex-direction: column;

      .text {
        font-family: monospace;
        font-weight: bold;
        font-size: 50px;
        color: white;
      }

      .actionButton {
        width: 150px;
        background: white;
        color: black;
      }
    }
  }
}