@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .btn {
        @apply
            bg-fuchsia-900 hover:bg-indigo-900
            text-white font-bold text-center
            py-6 px-4 rounded-lg m-1
            w-52 md:w-48 sm:w-fit
            transition ease-linear duration-200
            mt-2
            hover:border-solid hover:border-2 hover:border-white
    }
    .btn:hover{
        @apply
        scale-90
    }

    .btnVisible {
        z-index: 1;
        @apply opacity-100 relative
    }

    .btnHidden {
        z-index: -1;
        @apply opacity-0 absolute
    }

    .group:hover .btnVisible {
        z-index: -1;
        @apply opacity-0 absolute
    }

    .group:hover .btnHidden {
        z-index: 1;
        @apply opacity-100 relative
    }
}