@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .btn {
        @apply
            bg-fuchsia-900 hover:bg-indigo-900
            text-white font-bold text-center
            py-5 px-4 rounded-full
            mx-4 my-4
            w-40 md:w-48 lg:w-52
            transition ease-linear duration-200;
    }

    .btnVisible {
        z-index: 1;
        @apply opacity-100 relative
    }

    .btnHidden {
        z-index: -1;
        @apply opacity-0 absolute
    }

    .group:hover .btnVisible {
        z-index: -1;
        @apply opacity-0 absolute
    }

    .group:hover .btnHidden {
        z-index: 1;
        @apply opacity-100 relative
    }
}